/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
html, body{
  margin:0; padding:0; box-sizing:border-box; clear:both;
  font-family: 'Manrope', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsl(230, 100%, 99%) url("./images/bg-pattern.svg") no-repeat top;
  color:hsl(225, 20%, 60%);
}
.pattern-circle{
  position: absolute;
  z-index: 1; 
  margin-top: -13.3rem;
  width: 9.5rem;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  margin-top: 1.2rem;
}
header{    
  font-size: 2rem;
  font-weight: bold;
  color:hsl(227, 35%, 25%);
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 36rem;
  height: 25rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin-top: 4rem;
  box-shadow: 0 0.7rem 1rem 0 #e3e0f1;
}
.price-row{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 83%;
  margin-top: 1.5rem;
}
.pageview-text{
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.price-box{
  position: absolute;
  margin: -18rem 0 0 18rem;
}
.price-number{
  font-weight: bold;
  font-size: 2.5rem;
  color:hsl(227, 35%, 25%);
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 
input[type="range"]{
  outline: none;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  height: 6rem;
  background: hsl(0, 0%, 100%);
}
input[type="range"]::-webkit-slider-runnable-track{
  width: 30rem;
  height: 0.5rem;
  border-radius: 4px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow:0 1rem 1rem 0 hsl(174, 77%, 80%);
  box-shadow:0 1rem 1rem 0 hsl(174, 77%, 80%);
  width: 2.8rem;
  height: 2.8rem;
  background: hsl(174, 86%, 45%) url("./images/icon-slider.svg") no-repeat 0.4rem 0.75rem/70%;
  position: relative;
  margin-top: -1.1rem;
  border-radius: 50%;
}

.mny{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
  font-size: 0.9rem;
  margin-left: 5rem;
}

.onoffswitch {
  position: relative; width: 48px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch:hover .onoffswitch-inner:before,
.onoffswitch:hover .onoffswitch-inner:after{
  background-color: hsl(174, 77%, 80%);
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #CDD6EE; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #CDD6EE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 17px; height: 17px; margin: 5px;
  background: #FFFFFF;
  position: absolute; top: 0.5px; bottom: 0;
  right: 19px;
  border: 2px solid #FFFFFF; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

.discount{
  width: 6.3rem;
  color:hsl(15, 100%, 70%);
  background-color:hsl(14, 92%, 95%);
  border-radius: 30px;
  text-align: center;
}
hr{
  border: 0px;
  height: 1px;
  background:hsl(240, 5%, 91%);
  width: 100%;
}
.cardbottomrow{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  width: 85%;
}
.remark{
  line-height: 1.9rem;
}
button{
  border: none;
  height: 2.8rem;
  width: 10.5rem;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  border-radius: 13% / 50%;
}
button:hover{
  cursor: pointer;
  color:white;
}
@media screen and (max-width:1439px){
  html{
    font-size: 10px;
  }
  .pattern-circle{
    margin-top: -19.3rem;
    width: 10.5rem;
  }
  header{    
    font-size: 1.8rem;
  }
  .subheader{
    width: 20rem;
    text-align: center;
  }
  .card{
    width: 27.5rem;
    height: 37rem;
    margin-top: 3.5rem;
  }
  .price-row{
    align-items: center;
    margin-top: 0rem;
  }
  .price-box{
    position: unset;
    margin: 0;
  }
  .mny{
    display: flex;
    align-items: center;
    width: 83%;
    font-size: 0.9rem;
    margin-left: 0rem;
  }
  .onoffswitch {
    width: 35px;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
    height: 18px;
  }
  .onoffswitch-switch {
    width: 12px;
    height: 12px;
    margin: 5px;
    top: 0px;
    right: 12px;
  }
  .discount{
    width: 3.5rem;
  }
  .cardbottomrow{
    justify-content: space-between;
    flex-direction: column;
    height: 30%;
  }
  .remark{
    text-align: center;
  }
  button{
    height: 3.3rem;
    width: 13rem;
    font-size: 0.8rem;
  }
}